

<!--
<div style="clear:both;"></div>
-->
<div id="footerbar" class="container">
  	<div id="link">
		<span>友情链接：</span>
					<a href="http://127.0.0.1/" title="脉动" target="_blank">#第一个</a>
					<a href="http://127.0.0.1/" title="哇哈哈" target="_blank">#第二个</a>
					<a href="http://127.0.0.1/" title="矿泉水" target="_blank">#第三个</a>
  </div>
  <div class="m-cprt">
    &copy; 2011-2019 <a href="http://127.0.0.1/">四个二带俩王</a>
    &nbsp;|&nbsp;
    Powered by <a href="http://127.0.0.1/"  title="你猜用的啥" target="_blank">SuiHan</a>
  </div>

</div>
<!--end #footerbar-->